@use '@/shared/tools' as *;

body {
  @include fluid-text(20, 14);

  font-family: 'Rubik', sans-serif;
  color: var(--text-color-light);
  background-color: var(--bg-color);
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-light);
  font-weight: 500;
  margin: 0;
}

h2 {
  @include fluid-text(44, 30);
}

h3 {
  @include fluid-text(28, 20);
}

h4 {
  @include fluid-text(26, 18);
}

h5 {
  @include fluid-text(24, 18);
}

h6 {
  @include fluid-text(20, 16);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a,
button {
  color: var(--text-color-light);
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
  border: none;

  @include hover {
    color: var(--hover-color);
  }
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}