@use '@/shared/tools/scss' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.tile {
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  padding: fluid(20, 10);
  border-radius: var(--border-radius);

  &Hover {
    @extend .tile;

    @include hover {
      transform: translate(-1px, -1px);
      box-shadow: var(--box-shadow-hover);
    }
  }
}

.accented {
  color: var(--color-accent);
}