@use '@/shared/tools' as *;

:root {
  --text-color-light: #FFFFFF;
  --text-color-dark: #191820;

  --color-accent: #c778dd;

  --bg-color: #191820;
  --hover-color: #c778dd;

  --box-shadow: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px #000;
  --box-shadow-hover: -2px -2px 6px hsla(0, 0%, 100%, 0.05), 2px 2px 6px #000;
  --box-shadow-inset: inset -2px -2px 4px rgba(255, 255, 255, 0.1),
  inset 2px 2px 4px rgba(0, 0, 0, 0.5);

  --transition-duration: 0.2s;

  --border-radius: #{fluid(25, 15)};
  --border: #{rem(1.5)} solid #191820;
  --border-thin: #{rem(1)} solid #191820;

  --container-width: #{rem(1200)};
  --container-padding-x: #{fluid(150, 30)};
}

[data-theme='light'] {
  --text-color-light: #575757;
  --bg-color: #FFFFFF;
  --hover-color: #000000;
  --color-accent: #000000;

  --box-shadow: -4px -4px 12px rgba(255, 255, 255, 0.7), 4px 4px 12px rgba(0, 0, 0, 0.12);
  --box-shadow-hover: -2px -2px 6px rgba(255, 255, 255, 0.75), 2px 2px 6px rgba(0, 0, 0, 0.16);
  --box-shadow-inset: inset -2px -2px 4px rgba(255, 255, 255, 0.9),
  inset 2px 2px 4px rgba(0, 0, 0, 0.12);
}