@use '@/shared/tools' as *;

:root {
  --text-color-light: #FFFFFF;
  --text-color-light-2: #ABB2BF;
  --text-color-dark: #1d2025;

  --color-accent: #c778dd;

  --bg-color: #191820;
  --hover-color: #c778dd;

  --transition-duration: 0.2s;

  --container-width: #{rem(1024)};
  --container-padding-x: #{rem(40)};
}