@use '@/styles/helpers' as *;

.settings-panel {
	position: absolute;
	top: calc(100% + 12px);
	right: 0;
	min-width: 220px;
	display: flex;
	flex-direction: column;
	row-gap: fluid(14, 10);
	padding: fluid(14, 10);
	background-color: var(--bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	opacity: 0;
	transform: translateY(-6px);
	pointer-events: none;
	transition: var(--transition-duration);

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: fluid(16, 12);
	}

	&__label {
		@include fluid-text(16, 14);

		color: var(--text-color);
	}

	&__toggle {
		position: relative;
		display: inline-flex;
		align-items: center;

		&-input {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;

			&:checked + .settings-panel__toggle-input-track {
				background-color: var(--hover-color);
			}

			&:checked
				+ .settings-panel__toggle-input-track
				.settings-panel__toggle-input-track-thumb {
				transform: translateX(20px);
			}

			&:focus-visible + .settings-panel__toggle-input-track {
				outline: 2px solid var(--hover-color);
				outline-offset: 2px;
			}

			&-track {
				width: 42px;
				height: 22px;
				background-color: rgba(0, 0, 0, 0.15);
				border-radius: var(--border-radius);
				position: relative;
				cursor: pointer;
				box-shadow: var(--box-shadow-inset);
				transition: var(--transition-duration);

				&-thumb {
					position: absolute;
					top: 3px;
					left: 3px;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background-color: var(--bg-color);
					box-shadow: var(--box-shadow);
					transition: var(--transition-duration);
				}
			}
		}
	}
}