@use '@/shared/tools/scss' as *;

.toggle {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  background: transparent;
  min-width: 40px;

  @include hover {
    scale: 1.1;
  }
}

.icon {
  display: inline-flex;
  animation: iconFade 360ms ease-out;

  @include mobile {
    animation: iconFade 700ms ease-out;
  }
}

@keyframes iconFade {
  from {
    opacity: 0;
    transform: scale(0.85) rotate(-5deg);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}