@use '@/styles/helpers' as *;

.contacts {
	padding-bottom: 0;

	&__inner {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	&__wrapper {
		align-items: center;

		@include tablet {
			grid-template-columns: 40% auto;
		}

		@include mobile {
			gap: 0;
		}

		@include mobile-s {
			justify-content: end;
		}
	}

	&__body {
		@include mobile-s {
			display: none;
		}

		&-title {
			@include fluid-text(44, 24);
		}
	}

	&__extra {
		justify-content: flex-end;
		min-height: auto;

		@include mobile {
			padding-inline: 0;
		}

		&-inner {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;
			row-gap: 20px;
		}

		&-soc1als {
			&-list {
				display: flex;
				gap: fluid(16, 5);
			}

			&-item {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: fluid(12, 10);
				box-shadow: var(--box-shadow-inset);
				border: var(--border-transparent);
				border-radius: 50%;
				transition-duration: var(--transition-duration);
			}

			&-link {
				svg {
					@include square(fluid(34, 26));
				}
			}
		}

		&-copyright {
			@include fluid-text(14, 10);

			position: relative;
			top: fluid(40, 35);
		}
	}
}