@use '@/shared/tools' as *;

.footer {
  padding-bottom: rem(15);
}

.wrapper {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 40% auto;
  padding: rem(50) !important;

  @include mobile {
    display: block;
  }
}

.left {
  &Title {
    font-size: fluid(44, 32);
    font-weight: 400;

    @include mobile {
      display: none;
    }
  }
}

.right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: fluid(18, 12);

  &Title {
    font-weight: 300;

    @include mobile {
      color: var(--color-accent);
    }
  }
}

.soc1als {
  &List {
    display: flex;
    gap: fluid(16, 5);
  }

  &Item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: fluid(12, 10);
    box-shadow: var(--box-shadow-inset);
    border: var(--border);
    border-color: transparent;
    border-radius: 50%;
    transition-duration: var(--transition-duration);
  }

  &Link {
    @include square(fluid(34, 26));

    align-items: center;
  }
}

.copyright {
  padding-top: rem(50);
  font-size: rem(12);
}