@use '@/shared/tools/scss' as *;

.footer {
  padding-bottom: rem(15);
}

.wrapper {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 40% auto;
  padding: rem(50) !important;

  @include mobile {
    display: block;
  }
}

.left {
  &Title {
    font-size: fluid(44, 32);
    font-weight: 400;

    @include mobile {
      display: none;
    }
  }
}

.right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: fluid(18, 12);

  &Title {
    font-weight: 400;

    @include mobile {
      color: var(--color-accent);
      font-weight: 300;
    }
  }
}