.track {
  position: fixed;
  top: 0;
  right: 0;
  width: 4px;
  height: 100vh;
  background: var(--bg-color);
  z-index: 1000;
  pointer-events: none;
}

.indication {
  width: 100%;
  height: 100%;
  background: var(--color-accent);
  transform-origin: top;
  transform: scaleY(0);
}