@use '@/styles/helpers' as *;

.portfolio {
	&__body-link {
		padding: rem(1);
		height: 320px;
	}

	&__body-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 0;
		border-radius: var(--border-radius);
	}
}