@use '@/shared/tools/scss' as *;

.hero {
  min-height: calc(100svh - 100px);
  margin-bottom: 2.5vh;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
}

.button {
  opacity: 0;
  pointer-events: none;
  font-size: fluid(24, 16);
  margin-block: auto 12.5vh;
  padding: rem(15);

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &.bounce {
    animation: bounce 0.6s ease-out;
    color: var(--color-accent);
    transition-duration: var(--transition-duration);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
  }

  30% {
    transform: translateY(-3px) scale(1.01);
  }

  60% {
    transform: translateY(2px) scale(0.99);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}