@use '@/styles/helpers' as *;

:root {
	--color-light: #ececec;
	--color-light-2: #cfcfcf;
	--color-light-3: #575757;

	--color-dark: #191820;
	--color-dark-2: rgba(0, 0, 0, 0.13);
	--color-dark-3: #000;

	--color-accent: #ae8bf8;
	--color-accent-2: #ae8bf8;
	--color-accent-3: rgba(174, 139, 248, 0.13);

	--color-tag-waterfall: var(--color-accent-3);

	--text-color: var(--color-light);
	--text-accent: var(--color-accent);
	--hover-color: var(--color-accent);
	--bg-color: var(--color-dark);

	--border: #{rem(1)} solid var(--color-dark);
	--border-transparent: #{rem(1)} solid transparent;
	--border-radius: #{fluid(25, 15)};

	--box-shadow: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px #000;
	--box-shadow-hover: -2px -2px 6px hsla(0, 0%, 100%, 0.05), 2px 2px 6px #000;
	--box-shadow-inset:
		inset -2px -2px 4px rgba(255, 255, 255, 0.1),
		inset 2px 2px 4px rgba(0, 0, 0, 0.5);

	--transition-duration: 0.2s;

	--js-section-scroll-offset: 200px;

	@include mobile {
		--js-section-scroll-offset: 120px;
	}

	--container-width: #{rem(1440)};
	--container-padding-x: #{rem(40)};

	@include laptop {
		--container-width: #{rem(1280)};
	}

	--focus-outline-color: var(--text-accent);
}

[data-theme='light'] {
	--color-tag-waterfall: var(--color-dark-2);

	--text-color: var(--color-light-3);
	--text-accent: var(--color-dark-3);
	--hover-color: var(--color-dark-3);
	--bg-color: var(--color-light-2);

	--box-shadow:
		-4px -4px 12px rgba(255, 255, 255, 0.7), 4px 4px 12px rgba(0, 0, 0, 0.12);

	--box-shadow-hover:
		-2px -2px 6px rgba(255, 255, 255, 0.75), 2px 2px 6px rgba(0, 0, 0, 0.16);

	--box-shadow-inset:
		inset -2px -2px 4px rgba(255, 255, 255, 0.9),
		inset 2px 2px 4px rgba(0, 0, 0, 0.12);
}