@use '@/styles/helpers' as *;

:root {
	--color-light: #ececec;
	--color-light-2: #cfcfcf;
	--color-light-3: #575757;

	--color-dark: #191820;
	--color-dark-2: rgba(0, 0, 0, 0.13);
	--color-dark-3: #000;

	--color-accent: #ae8bf8;
	--color-accent-2: #ae8bf8;
	--color-accent-3: rgba(174, 139, 248, 0.13);

	--color-tag-waterfall: var(--color-accent-3);

	--text-color: var(--color-light);
	--text-accent: var(--color-accent);
	--hover-color: var(--color-accent);
	--bg-color: var(--color-dark);

	--border: #{rem(1)} solid var(--color-dark);
	--border-transparent: #{rem(1)} solid transparent;
	--border-radius: #{fluid(25, 15)};

	--transition-duration: 0.2s;

	--container-width: #{rem(1440)};
	--container-padding-x: #{rem(40)};

	@include laptop {
		--container-width: #{rem(1280)};
	}
}