@use '@/styles/helpers' as *;

.tag-waterfall {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
	z-index: -1000;
	contain: layout paint;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.tag {
	@include fluid-text(12, 9);

	position: absolute;
	font-family: monospace;
	color: var(--color-tag-waterfall);
	animation: fall 15s linear forwards;

	@keyframes fall {
		0% {
			transform: translateY(-20px);
			opacity: 0;
		}
		15% {
			opacity: 1;
		}
		100% {
			transform: translateY(110vh);
			opacity: 0;
		}
	}
}