@use '@/styles/helpers' as *;

.tile {
	box-shadow: var(--box-shadow);
	background-color: var(--bg-color);
	padding: fluid(20, 10);
	border-radius: var(--border-radius);

	&--hover {
		@include hover {
			transform: translate(-1px, -1px);
			box-shadow: var(--box-shadow-hover);
		}
	}
}