@use '@/shared/tools/scss' as *;

.wrapper {
  padding: fluid(45, 30) rem(30) fluid(70, 35) rem(30) !important;
  align-items: center;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.info {
  flex: 1;
  display: flex;
  column-gap: rem(50);

  @include mobile {
    flex-direction: column;
    row-gap: fluid(50, 25);
  }
}

.formLayer,
.successLayer {
  justify-content: center;
  display: flex;
  grid-area: 1 / 1;
  transition-duration: 0.5s;
}

.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
}