@use '@/shared/tools/scss' as *;

.header {
  position: relative;
  z-index: 1000;
  transition-duration: var(--transition-duration);
}

.firstRender {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

@include tablet-above {
  .sticky {
    position: sticky;
    top: 0;
    padding: 0 !important;
    border-radius: 0 !important;
  }

  .stickyShowIn {
    @extend .sticky;
    animation: show-in 0.45s cubic-bezier(.22, 1, .36, 1) forwards;
  }

  .stickyShowOut {
    @extend .sticky;
    animation: show-out 0.45s cubic-bezier(.22, 1, .36, 1) forwards;
  }

  @keyframes show-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes show-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

}

.content {
  padding-block: fluid(12.5, 7.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  @include hover {
    scale: 1.075;
  }
}

.wrapper {
  display: flex;
  column-gap: fluid(40, 25);
}