@use '@/shared/tools/scss' as *;

.greeting {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-block: auto;
  height: 257.5px;
}

.title {
  @include fluid-text(65, 40);

  font-weight: 500;
}

.subtitle {
  @include fluid-text(40, 20);

  font-weight: 300;
  height: 120px;
  white-space: pre-line;
}