.toggle {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.icon {
  display: inline-flex;
  animation: iconFade 360ms ease-out;
}

@keyframes iconFade {
  from {
    opacity: 0;
    transform: scale(0.85) rotate(-5deg);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}