@use '@/shared/tools/scss' as *;

.item {
  display: grid;
  grid-template-columns: 40% auto;
  align-items: center;
  column-gap: fluid(40, 25);
  padding-block: fluid(8, 6);
  padding: fluid(30, 25) !important;

  @include mobile {
    grid-template-columns: auto;
    row-gap: fluid(40, 25);
  }
}