@use '@/shared/tools/scss' as *;

.item {
  display: grid;
  grid-template-columns: 40% auto;
  align-items: center;
  column-gap: fluid(40, 25);
  padding-block: fluid(8, 6);
  padding: fluid(32.5, 25) !important;

  @include mobile {
    grid-template-columns: auto;
    row-gap: fluid(40, 25);
  }
}

.leftLink {
  padding: rem(1);
  height: 320px;
}

.leftImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
  border: var(--border-thin);
  border-color: var(--bg-color-2);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);

  @include hover {
    transform: scale(1.015);
  }
}

.right {
  &Inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(12.5);
  }
}

.date {
  padding: rem(12.5);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-inset);
}

.title {
  position: relative;
  transition-duration: var(--transition-duration);

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: rem(2.5);
    width: 100%;
    height: rem(1.75);
    background-color: var(--color-accent);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
  }

  @include hover {
    scale: 1.015;

    &::after {
      transform: translateX(-50%) scaleX(1);
    }
  }
}

.link {
  &::after {
    --size: 0.4em;
    mask: url(../../assets/icons/link.svg) center / contain no-repeat;
    -webkit-mask: url(../../assets/icons/link.svg) center / contain no-repeat;
    background-color: var(--color-accent);
    content: "";
    height: var(--size);
    margin-left: .25em;
    width: var(--size);
  }
}

.description {
  font-size: fluid(18, 14);
}

.technologies {
  &List {
    display: flex;
    flex-wrap: wrap;
    gap: fluid(16, 10);
  }

  &Item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: fluid(12, 10);
    box-shadow: var(--box-shadow-inset);
    border: var(--border);
    border-color: transparent;
    border-radius: 50%;
    transition-duration: var(--transition-duration);

    @include hover {
      border-color: var(--color-accent);
    }
  }

  &Image {
    @include square(fluid(32, 26));
  }
}