@use '@/styles/helpers' as *;

.section {
	scroll-margin-top: var(--js-section-scroll-offset);
	padding-block: fluid(70, 40) fluid(130, 50);

	@include mobile-s {
		--container-padding-x: #{rem(20)};
	}

	&__title {
		@include fluid-text(36, 20);

		margin-block: fluid(12, 6) fluid(20, 10);

		@include mobile {
			&::before,
			&::after {
				display: block;
				margin: 0;
			}
		}
	}

	&__content {
		@include fluid-text(22, 16);

		margin-inline: 0.9em;

		@include tablet {
			margin: 0;
		}

		&-inner {
			margin: fluid(8, 5) 0.8em;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 40% auto;
		align-items: start;
		column-gap: fluid(40, 25);
		padding-block: fluid(8, 6);

		@include tablet {
			grid-template-columns: repeat(1, 1fr);
		}

		&--equal {
			grid-template-columns: 1fr 1fr;
		}

		&--solo {
			display: block;
		}
	}

	&__body {
		display: flex;
		align-items: center;
		margin-block: fluid(10, 5);
	}

	&__extra {
		display: flex;
		align-items: center;
		margin-block: fluid(10, 5);
		min-height: 320px;
		padding: fluid(30, 20) fluid(26, 18);
	}
}