@use '@/shared/tools' as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(50);

  @include mobile {
    display: flex;
    flex-direction: column;
    row-gap: rem(50);
  }
}

.title {
  font-size: fluid(50, 38);
  font-weight: 400;
  margin-bottom: rem(25);
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 15);
}


.item {
  position: relative;
}

.itemInner {
  padding-left: rem(32.5);

  &::before {
    --size: #{rem(10)};
    background-color: var(--color-accent);
    border-radius: 50%;
    content: "";
    height: var(--size);
    left: rem(20);
    position: absolute;
    top: 42.5%;
    width: var(--size);

    @include mobile {
      top: 37.5%;
    }
  }
}