@use '@/shared/tools/scss' as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(50);

  @include mobile {
    display: flex;
    flex-direction: column;
    row-gap: rem(50);
  }
}