@use '@/shared/tools/scss' as *;

.mainTitle {
  margin-bottom: rem(25);
}

.form {
  padding: fluid(45, 30) rem(30) fluid(70, 35) rem(30) !important;
  display: flex;
  flex-direction: column;
  row-gap: fluid(50, 25);
}

.info {
  display: flex;
  column-gap: rem(50);

  @include mobile {
    flex-direction: column;
    row-gap: fluid(50, 25);
  }

  &Field {
    flex: 1;
  }
}

.message {
  &Field {
    flex: 1;
  }

  &Textarea {
    resize: vertical;
    min-height: 200px;
    max-height: 500px;

    @include mobile {
      min-height: 150px;
      max-height: 375px;
    }
  }
}

.infoField, .messageField {
  position: relative;
}

.infoInput, .messageTextarea {
  width: 100%;
  padding: rem(15);
  margin-top: rem(10);
  background-color: var(--bg-color);
  border: var(--border);
  border-color: var(--bg-color-2);
  border-radius: var(--border-radius);
  color: inherit;
  font: inherit;

  &::placeholder {
    opacity: 0.6;
  }

  &[aria-invalid='true'] {
    border-color: var(--error-color);

    &:focus-visible {
      outline: none;
    }
  }

  &:focus-visible:not([aria-invalid='true']) {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
  }

  &:-webkit-autofill,
  :-webkit-autofill:hover,
  :-webkit-autofill:focus,
  :-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--bg-color) inset !important;
    box-shadow: 0 0 0 1000px var(--bg-color) inset !important;
    -webkit-text-fill-color: var(--text-color-light) !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    caret-color: var(--text-color-light);
    transition: background-color 9999s ease-out 0s !important;
  }
}

.button {
  align-self: center;
  min-width: 175px;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
  color: var(--error-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.infoInput,
.messageTextarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}