@use '@/styles/helpers' as *;

.card {
	@include fluid-text(16, 14);

	display: flex;
	flex-direction: column;
	row-gap: fluid(20, 16);

	&__date {
		span {
			box-shadow: var(--box-shadow-inset);
			border: var(--border-transparent);
			border-radius: var(--border-radius);
			padding: fluid(15, 12);
		}
	}

	&__title {
		@include fluid-text(36, 24);
	}

	&__technologies {
		&-list {
			display: flex;
			flex-wrap: wrap;
			gap: fluid(16, 10);
		}

		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: fluid(12, 10);
			box-shadow: var(--box-shadow-inset);
			border: var(--border-transparent);
			border-radius: 50%;
			transition-duration: var(--transition-duration);

			@include hover {
				border-color: var(--hover-color);
			}
		}

		&-image {
			@include square(fluid(32, 26));
		}
	}
}